@import "tailwindcss";


:root {
    --grey-light: #F3F2F7;
    --grey-medium: #707070;
    --pure-white: #FFFFFF;
    --sky-blue: #60a5fa;
    --sky-light: #e7f2fd;
    --vibrant-purple: #EC00FF;
}


body {
    font-family: 'Noto Sans Bengali', sans-serif;
    background-color: var(--grey-light);
}


select{
    padding: 6px !important;
}

input{
    padding: 8px 10px !important;
}

.btn{
    background: linear-gradient(45deg, #7f00ff, #e100ff) !important;
    color: white;
    padding: 8px 32px !important;
}

